header{background-color: firebrick;
color: black;
display: flex; 
justify-content: space-around; }
.cabecalho-imagem{whidth:25%;}
li {
    display: block;
}
h1 { 
    margin: 0 120px;
    padding: 0 250px;
}