*{
    margin :0;
    padding :0;
} 
body {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;}
header{background-color: firebrick;
color: black;
display: flex; 
justify-content: space-around;  
padding: 24px 0; }
.cabecalho-imagem{whidth:25%;}
li { 
    display: block;   
}
h1 { 
    margin: 0 120px;
    padding: 0 250px;
} 
.escola-imagem {width: 200%;}

   .escola { 
    display: flex ;
    justify-content: center;

    background-image: linear-gradient(red,blue);} 
    .aluno-um{
        width: 25%;
    }



     
    .estudante-titulo{ 
        text-align: center;
        padding: 28px 0;
        font-size: 53 px;
    }


    .estudante-icone 
    {width: 83px;}
    .estudante-div {
        text-align: center;
    }
